@use "_form.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.header {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 0.1rem solid lightgray; }

.header__titles {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end; }

.heading-2 {
  font-size: 1.7rem;
  text-decoration: none; }

.heading-2_1 {
  padding-right: 5rem;
  font-size: 1.7rem;
  text-decoration: none; }

.header__logo {
  width: 9rem;
  height: 8rem;
  margin-left: 1rem;
  border-radius: 50%;
  object-fit: cover; }

a:link {
  color: black; }
