.form__section_image {
  z-index: -1;
  width: 70%;
  height: 80%;
  margin: 5rem 0 0 40rem;
  position: absolute;
  border-radius: 1rem;
}

.form__section {
  margin: 15rem 100rem 0rem 7.5rem;
  border: 0.1rem solid lightgray;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

#location {
  display: block;
  width: 97%;
  padding: 3rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
  font-size: 1.5rem;
}

.date-container {
  display: flex;
  gap: 2rem; /* space between the fields */
}

.checkin_span {
  position: absolute;
  top: 50.5rem;
  right: 136rem;
}

.checkout_span {
  position: absolute;
  top: 50.5rem;
  right: 114rem;
}

.date-container label {
  flex: 1; /* makes them take equal width */
  display: flex;
  flex-direction: column; /* keeps span above input */
}

.date-container input[type="date"] {
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
}

#date {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
}

#date__2 {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
}

.number_of_guests {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.number_of_guests label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.number_of_guests select {
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
  font-size: 1.5rem;
}

.number_of_guests span {
  font-size: 1.5rem;
}

#adults {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
}

#children {
  padding: 3rem 0 0 0;
  font-size: 1.5rem;
}

.number_of_guests_adults {
  position: absolute;
  top: 56.5rem;
  right: 137.5rem;
}

.number_of_guests_children {
  position: absolute;
  top: 56.5rem;
  right: 115rem;
}

label[for="date"] span {
  font-size: 1.5rem;
}

label[for="date__2"] span {
  font-size: 1.5rem;
}

.location__label {
  position: absolute;
  left: 10.5rem;
  top: 43.5rem;
  font-size: 1.5rem;
  color: black;
}

.form__title {
  font-size: 4rem;
}

.form__subtext {
  font-size: 2rem;
  color: $color-gray;
}
