$color-primary: red;
$color-gray: gray;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.header {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 0.1rem solid lightgray;
}

.header__titles {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.heading-2 {
  font-size: 1.7rem;
  text-decoration: none;
}

.heading-2_1 {
  padding-right: 5rem;
  font-size: 1.7rem;
  text-decoration: none;
}

.header__logo {
  width: 9rem;
  height: 8rem;
  margin-left: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

a:link {
  color: black;
}

.form__section {
  margin: 7.5rem 100rem 0rem 7.5rem;
  border: 0.1rem solid lightgray;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.form__section_image {
  z-index: -1;
  width: 50%;
  height: 80%;
  margin-left: 40rem;
  border-radius: 1rem;
}

#location {
  display: block;
  width: 97%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
  font-size: 1.5rem;
}

.date-container {
  display: flex;
  gap: 2rem; /* space between the fields */
}

.date-container label {
  flex: 1; /* makes them take equal width */
  display: flex;
  flex-direction: column; /* keeps span above input */
}

.date-container input[type="date"] {
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
}

.number_of_guests {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.number_of_guests label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.number_of_guests select {
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid gray;
  font-size: 1.5rem;
}

.number_of_guests span {
  font-size: 1.5rem;
}

label[for="date"] span {
  font-size: 1.5rem;
}

label[for="date__2"] span {
  font-size: 1.5rem;
}

.location__label {
  position: absolute;
  left: 10.5rem;
  top: 36rem;
  font-size: 1.5rem;
  color: black;
}

.form__title {
  font-size: 4rem;
}

.form__subtext {
  font-size: 2rem;
  color: $color-gray;
}
